{
    "presets": [
        ["@babel/preset-env", {
            "debug": true,
            "useBuiltIns": "usage"
        }],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }],
        "react-hot-loader/babel"
    ]
}